<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="Testing.MasterPage" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .modalBackround {
            background-color: black;
            filter: alpha(opacity=0.9) !important;
            opacity: 0.6 !important;
        }

        #close {
            text-align: right;
            color: #000000;
            height: 10px;
            width: 500px;
            font-size: 12px;
        }

        .closeButton {
            -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
            box-shadow: inset 0px 1px 0px 0px #ffffff;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
            background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
            background-color: #f9f9f9;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #dcdcdc;
            display: inline-block;
            cursor: pointer;
            color: #666666;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 0px 5px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #ffffff;
        }

            .closeButton:hover {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
                background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
                background-color: #e9e9e9;
            }

            .closeButton:active {
                position: relative;
                top: 1px;
            }
    </style>
    <link rel="stylesheet" href="Style/StyleSheet.css" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#navigation ul li').hover(function () {
                $(this).children('ul').stop(true, false, true).fadeToggle(300);
            });
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
        

        
         <asp:ScriptManager ID="asm" runat="server" />
       

        <cc1:ModalPopupExtender ID="ModalPopupExtender1" runat="server"
            CancelControlID="btnClose" OkControlID="btnOkay"
            TargetControlID="btnLogin" PopupControlID="PanelLogin"
            PopupDragHandleControlID="PopupHeader" Drag="true"
            BackgroundCssClass="modalBackround">
        </cc1:ModalPopupExtender>

        

        <asp:Panel ID="Panel1" Style="display: none" runat="server">
            <div class="HellowWorldPopup">
                <div class="PopupHeader" id="PopupHeader">Header</div>
                <div class="PopupBody">
                    <p>This is a simple modal dialog</p>
                </div>
                <div class="Controls">
                    <input id="btnOkay" type="button" value="Done" />
                    <input id="btnCancel" type="button" value="Cancel" />
                </div>
            </div>
        </asp:Panel>

        <div id="wrapper">
            <div id="banner">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/banner.jpg" Width="100%" />
            </div>
            <div id="navigation">
                <ul id="nav">
                    <li>
                        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/ViewGallery.aspx">Webshop</asp:HyperLink>
                        <ul style="width:calc(100% - 163px);margin-left: -40px; background-color: #666; height: 300px; display: none; opacity: 0.95">
                            <li>
                                <div>
                                    <!--Category image-->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/AboutUs.aspx">About Us</asp:HyperLink></li>
                    <li>
                        <asp:HyperLink ID="li_myaccount" runat="server">My Account</asp:HyperLink>
                        <ul class="sub-menu">
                            <li><asp:HyperLink ID="HyperLink5" runat="server" NavigateUrl="~/Wishlistaspx.aspx">My Wishlist</asp:HyperLink></li>
                            <li><asp:HyperLink ID="HyperLink6" runat="server" NavigateUrl="~/ProductCart.aspx">My Cart</asp:HyperLink></li>
                            <li><asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="~/OrderDetails.aspx">Purchase History</asp:HyperLink></li>
                            <li id="li_sales" runat="server"><asp:HyperLink ID="HyperLink7" runat="server">My Sales</asp:HyperLink></li>
                        </ul>
                    </li>
                    <li>
                        <asp:HyperLink ID="li_myartwork" runat="server">Manage Artwork</asp:HyperLink>
                        <ul class="sub-menu">
                            <li><asp:HyperLink ID="HyperLink8" runat="server" NavigateUrl="~/Artists/AddItemaspx.aspx">Add Artwork</asp:HyperLink></li>
                            <li><asp:HyperLink ID="HyperLink4" runat="server" NavigateUrl="~/Artists/UpdateGallery.aspx">Update Artwork</asp:HyperLink></li>
                        </ul>
                    </li>
                    <li>
                        <asp:HyperLink ID="cartCount" runat="server" NavigateUrl="~/ProductCart.aspx"> </asp:HyperLink></li>
                </ul>

                <asp:Button ID="btnLogin" Text="Login" runat="server" />
                <asp:Button ID="btnLogout" Text="Logout" runat="server" Visible="false" OnClick="btnLogout_Click" />
                <asp:Button ID="btnRegister" Text="Register" runat="server" OnClick="btnRegister_Click"/>

            </div>
            
            <div id="sitemap" style="height: 40px; background-color: #F1F1F1">
                <asp:SiteMapPath ID="SiteMapPath1" runat="server">
                </asp:SiteMapPath>
            </div>
            
            <div id="content">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>

        <asp:Panel ID="PanelLogin" runat="server" >
            <div style="text-align: right; width: 500px">
                <asp:Button ID="btnClose" runat="server" Text="Close" BorderColor="#507CD1" BorderStyle="Solid" BorderWidth="1px" Font-Names="Verdana" Font-Size="0.8em" ForeColor="#284E98" Style="text-align: right" />
            </div>
            <asp:Login ID="Login1" runat="server" BackColor="#EFF3FB" BorderColor="#B5C7DE" BorderPadding="4" BorderStyle="Solid" BorderWidth="1px" Font-Names="Verdana" Font-Size="0.8em" ForeColor="#333333" Height="257px" Width="500px" Style="margin-left: 0px" DestinationPageUrl="~/ViewGallery.aspx">
                <InstructionTextStyle Font-Italic="True" ForeColor="Black" />
                <LoginButtonStyle BackColor="White" BorderColor="#507CD1" BorderStyle="Solid" BorderWidth="1px" Font-Names="Verdana" Font-Size="0.8em" ForeColor="#284E98" />
                <TextBoxStyle Font-Size="0.8em" Width="210px" Height="25px" />
                <TitleTextStyle BackColor="#507CD1" Font-Bold="True" Font-Size="0.9em" ForeColor="White" />
            </asp:Login>
        </asp:Panel>
        
        <asp:Panel ID="PanelRegister" runat="server" CssClass="ShowPoppup" BackColor="white" Height="270px" Width="400px" align="Center" Style="display: none">
            
        </asp:Panel>
        
    </form>
</body>
</html>
