<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="Testing.MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="Style/StyleSheet.css" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div id="wrapper">
                <div id="banner">
                    <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/banner.jpg" Width="100%" />
                </div>
                <div id="navigation">
                    <ul id="nav">
                        <li><asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/ViewGallery.aspx">Webshop</asp:HyperLink></li>
                        <li><asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/AboutUs.aspx">About Us</asp:HyperLink></li>
                        <li><asp:HyperLink ID="HyperLink3" runat="server">Report</asp:HyperLink></li>
                        <li><asp:HyperLink ID="HyperLink4" runat="server">Management</asp:HyperLink></li>
                        <li><asp:HyperLink ID="cartCount" runat="server" NavigateUrl="~/ProductCart.aspx"> </asp:HyperLink></li>
                    </ul>
                    <asp:LoginView ID="LoginView1" runat="server">
                    <AnonymousTemplate>
                        <asp:HyperLink runat="server" NavigateUrl="~/Registration.aspx">Register</asp:HyperLink> or
                        <asp:Login ID="Login1" runat="server" DisplayRememberMe="False" Orientation="Horizontal" RememberMeSet="True" TitleText="" VisibleWhenLoggedIn="False"></asp:Login>
                    </AnonymousTemplate>
                        <LoggedInTemplate>
                            Welcome!<asp:LoginName ID="LoginName1" runat="server" />
                            <asp:LoginStatus ID="LoginStatus1" runat="server" />
                        </LoggedInTemplate>
                </asp:LoginView>
                </div>
                
                
                <div id="content">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
